<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lzf.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.lzf.myapplication.VideoActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <activity
            android:name="com.lzf.myapplication.StartActivity"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.lzf.myapplication.IndexActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name="com.lzf.myapplication.DevicesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name="com.lzf.myapplication.ContentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name="com.lzf.myapplication.ControlActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name="com.lzf.myapplication.SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name="com.lzf.myapplication.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.lzf.myapplication.dmp.GPlayer"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <!-- This filter captures protocols without type info -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="rtsp"/>
            </intent-filter>
            <!-- This filter captures protocols with type info -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
                <data android:scheme="rtsp"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme=""/>
                <data android:scheme="file"/>
                <data android:scheme="ftp"/>
                <data android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/3gpp*"/>
                <data android:mimeType="application/mp4"/>
                <data android:mimeType="application/mpeg*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/vnd.3gp*"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lzf.myapplication.dmp.ImageDisplay"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name="com.lzf.myapplication.RemoteVideoPlay"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <service android:name="com.lzf.myapplication.dmr.RenderPlayerService"/>
        <service android:name="org.fourthline.cling.android.AndroidUpnpServiceImpl"/>
    </application>

</manifest>